# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN="SUSTITUYE_CON_TU_TOKEN"
TELEGRAM_ALLOWED_USER_IDS="USER_ID_1,USER_ID_2"

# LLM APIs
GROQ_API_KEY="SUSTITUYE_CON_TU_GROQ_API_KEY"
OPENROUTER_API_KEY="SUSTITUYE_CON_TU_OPENROUTER_API_KEY"
OPENROUTER_MODEL="openrouter/free"

# Firebase Cloud Memory
FIREBASE_PROJECT_ID="mate-agent-db-2026"

# Para conectarte localmente a Firebase, necesitas generar una clave Service Account 
# JSON desde la Consola de Firebase -> Configuración -> Cuentas de Servcio.
# Guárdalo en la raíz de tu proyecto como 'service-account.json'.
FIREBASE_SERVICE_ACCOUNT_PATH="./service-account.json"
